# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# My files
# =========================
html/other observations.html
html/_mod.html
prev/
\#*#
new/
new.pickle
debug.log
markers.*
__pycache__/
.in_progress/
data/*.pickle
data/inaturalist-taxonomy.dwca.zip
.~lock.*#
test/
example/
src/names
inat/
log
data/*.csv
!data/calpoison.csv
