/* Copyright 2019 Chris Nelson - All rights reserved. */

@-ms-viewport {
    width: device-width;
}
.copyright {
    color: gray;
}
.horiz-space {
    min-width: 10px;
}
div.shrink-box {
    display: inline-block;
}
div.box-color {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.border-all-colors {
    background: repeating-linear-gradient(-30deg, rgba(192,192,0,0.33), rgba(255,0,0,0.33), rgba(128,0,128,0.33), rgba(255,0,0,0.33), rgba(192,192,0,0.33) 20%);
    padding: 5px;
}
div.bg-white {
    padding: 5px;
    background: rgba(255,255,255,0.7);
}
div.white {
    border: 5px solid #F8F8F8;
}
div.yellow {
    border: 5px solid gold;
}
div.red {
    border: 5px solid red;
}
div.purple {
    border: 5px solid purple;
}
div.black {
    border: 5px solid black;
    margin-bottom: 0px;
}
div.photo-box {
    display: flex;
    align-items: center;
}
img.page-thumb {
    height: 20vw;
    max-height: 200px;
    width: auto;
}
div.page-thumb-text {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 10px;
    width: calc(20vw - 22px);
    height: calc(20vw - 22px);
    max-width: 200px;
    max-height: 200px;
}
.indent1 {
    position: relative;
    left: 10vw;
}
.indent2 {
    position: relative;
    left: 20vw;
}
.indent3 {
    position: relative;
    left: 30vw;
}
/* There's no "max-left" property that would let us limit the indent to
   half the 200px max-width.  But we can get what we want by checking
   whether 20vw is effectively greater than 100px. */
@media (min-width: 500px) {
    .indent1 {
	left: 50px;
    }
    .indent2 {
	left: 100px;
    }
    .indent3 {
	left: 150px;
    }
}
img.list-thumb {
    height: 15vw;
    max-height: 100px;
    width: auto;
}
div.list-thumb-missing {
    display: flex;
    border: 1px solid black;
    width: @calc(15vw - 2px);
    height: @calc(15vw - 2px);
    max-width: 98px;
    max-height: 98px;
}
a.enclosed {
    text-decoration: none;
}
a.external {
    color: DarkGreen;
}
a.missing {
    color: red;
}
