/* Copyright Chris Nelson - All rights reserved. */
@-ms-viewport {
    width: device-width;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
div.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
div#body {
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}
div.footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 8px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 3px 3px white;
    z-index: 10;
}
a.home-link::before {
    content: "BAWG";
}
@media (min-width: 500px) {
    a.home-link::before {
	content: "Bay Area Wildflower Guide";
    }
}
.foot-fade {
    color: gray;
}
a.glossary {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px gray dotted;
}
a.glossary-jepson {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px #cc6600 dotted;
}
dt {
    font-weight: bold;
    margin-bottom: 0px;
}
dd {
    margin-bottom: 0.5em;
}
.defn {
    border-top: 6px solid transparent;
    margin-top: -6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}
.defn:target {
    background-color: #ffc;
}
div.shrink-box {
    display: inline-block;
    padding-right: 5px;
    min-width: 100px;
}
div.box-color {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
}
div.border-all-colors {
    background: repeating-linear-gradient(150deg, rgba(192,192,0,0.33), rgba(255,0,0,0.33), rgba(128,0,128,0.33), rgba(0,100,0,0.33), rgba(192,192,0,0.33) 20%);
}
div.bg-white {
    padding: 5px;
    background: rgba(255,255,255,0.7);
}
div.white {
    border: 5px solid #F8F8F8;
}
div.yellow {
    border: 5px solid gold;
}
div.orange {
    border: 5px solid orange;
}
div.red {
    border: 5px solid red;
}
div.red {
    border: 5px solid red;
}
div.red-purple {
    border: 5px solid mediumvioletred;
}
div.purple {
    border: 5px solid darkviolet;
}
div.blue {
    border: 5px solid blue;
}
div.cream {
    border: 5px solid oldlace;
}
div.salmon {
    border: 5px solid salmon;
}
div.pink {
    border: 5px solid pink;
}
div.pale-purple {
    border: 5px solid violet;
}
div.pale-blue {
    border: 5px solid lightskyblue;
}
div.other {
    border: 5px solid darkgreen;
}
#title {
    margin-top: 12px;
}
h1.nospace {
    margin-bottom: 0px;
}
div.toc-indent {
    display: block;
    margin-left: 25px;
}
span.membership {
    display: inline-block;
    vertical-align: top;
}
p {
    margin-top: 1em;
    margin-bottom: 1em;
}
p + ul {
    margin-top: calc(-1em + 6px);
}
ul {
    margin-top: 6px;
}
ul ul {
    margin-top: 0px;
}
div.box {
    border: 1px solid #c8c8c8;
    padding: 0px 10px;
    margin: 10px 0px;
}
a.family:link, a.family:visited {
    color: #9c8024;
}
a.unobs:link, a.unobs:visited {
    color: black;
}
a.jepson:link, a.jepson:visited {
    color: #cc6600;
}
a.parent:link, a.parent:visited {
    color: SaddleBrown;
}
a.leaf:link, a.leaf:visited {
    color: DarkGreen;
}
a.missing:link, a.missing:visited {
    color: red;
}
a.enclosed {
    color: inherit;
    text-decoration: none;
    border-bottom: none;
}
span.toggle-details {
    color: #888;
    text-decoration: underline;
}
div#details {
    display: none;
}
img.leaf-thumb {
    height: 40vmin;
    max-height: 200px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}
div.leaf-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    height: 40vmin;
    max-height: 200px;
    width: 40vmin;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
img.boxed {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
div.key-thumb {
    height: 20vw;
    max-height: 200px;
    width: 20vw;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}
div.key-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    height: 20vw;
    max-height: 200px;
    width: 20vw;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div.list-thumb {
    height: 15vw;
    max-height: 100px;
    width: 15vw;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #e8e8e8;
}
div.list-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;
    height: 15vw;
    max-height: 100px;
    width: 15vw;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
div.photo-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
div.list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.flex-width {
    margin-bottom: 10px;
}
span.show-narrow {
}
span.show-wide {
    display: none;
}
@media (min-width: 750px) {
    div.flex-width {
	display: flex;
	align-items: center;
    }
    span.show-narrow {
	display: none;
    }
    span.show-wide {
	display: inline;
    }
}
div.flex-width div.photo-box {
    margin-bottom: 0px;
}
div.key-text :last-child {
    margin-bottom: 0px;
}
div.indent {
    margin-left: 5vw;
}
@media (min-width: 1000px) {
    div.indent {
	margin-left: 50px;
    }
}
div#search-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 0px 3px 3px white;
    z-index: 10;
}
input {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5em;
    border-radius: 0.4em;
    border: 1px solid #DDDDDD;
    padding-left: 1.5em;
    background-position: .2em 50%;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 100 100'><g><circle cx='37' cy='37' r='20' stroke='%23888' stroke-width='7' fill='none'/><path d='M52,52L83,83' stroke='%23888' stroke-width='7' stroke-linecap='round' fill='none'/></g></svg>");
    background-repeat: no-repeat;
}
input::placeholder {
    color: #c0c0c0;
}
input#search:focus {
    border: 1px solid rgb(81, 203, 238);
    box-shadow: 0px 0px 5px 0px rgb(81, 203, 238);
    outline: auto 0px;
}
input:disabled {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    background-color: #eeeeee;
    color: #cccccc;
    text-align: center;
    z-index: 20;
}
div#autocomplete-box {
    display: none;
    position: fixed;
    border: 1px solid #DDDDDD;
    background-color: white;
}
@media (min-width: 600px) {
    div#autocomplete-box {
	margin-left: 1.7em;
	font-size: 1.25em;
    }
}
p.nogap {
    padding-left: 20px;
    text-indent: -17px;
    padding-right: 3px;
    margin: 0px;
}
span.match {
    background-color: #eee;
}
