/* Copyright Chris Nelson - All rights reserved. */
body {
    background-color: #404040;
}
div#gallery-background {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    touch-action: none;
    user-select: none;
}
img.gallery-photo {
    position: fixed;
}
div#gallery-ui-x {
    z-index: 35;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 50px;
    height: 50px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 50'><g stroke-linecap='round' fill='none'><path d='M10,10L40,40M10,40L40,10' stroke='%23777' stroke-width='12'/><path d='M10,10L40,40M10,40L40,10' stroke='%23f99' stroke-width='4'/></g></svg>");
    opacity: 0.75;
    transition-duration: 0.25s;
    transition-property: background-position. opacity;
    cursor: pointer;
}
div#gallery-ui-left {
    z-index: 35;
    position: absolute;
    left: 0px;
    width: 50px;
    height: 80px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 80'><g stroke-linecap='round' fill='none'><path d='M35,10L15,40L35,70' stroke='%23777' stroke-width='12'/><path d='M35,10L15,40L35,70' stroke='%23fff' stroke-width='5'/></g></svg>");
    opacity: 0.75;
    transition-duration: 0.25s;
    transition-property: background-position. opacity;
    cursor: pointer;
    display: none;
}
div#gallery-ui-right {
    z-index: 35;
    position: absolute;
    right: 0px;
    width: 50px;
    height: 80px;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 80'><g stroke-linecap='round' fill='none'><path d='M15,10L35,40L15,70' stroke='%23777' stroke-width='10'/><path d='M15,10L35,40L15,70' stroke='%23fff' stroke-width='5'/></g></svg>");
    opacity: 0.75;
    transition-duration: 0.25s;
    transition-property: background-position. opacity;
    cursor: pointer;
    display: none;
}
@media(hover:hover) {
    div#gallery-ui-x:hover {
	transform: scale(1.1);
	opacity: 1;
    }
    div#gallery-ui-left:hover {
	background-position: -5px 0px;
	opacity: 1;
    }
    div#gallery-ui-right:hover {
	background-position: 5px 0px;
	opacity: 1;
    }
}
canvas#gallery-spinner {
    z-index: 35;
    pointer-events: none;
}
