/* Copyright Chris Nelson - All rights reserved. */

/*****************************************************************************/
/* When editing this data/bawg.css file, you have to run the BAWG script
   to regenerate the {root}/bawg.css used by the HTML.  The BAWG script
   removes the comments from the CSS to save download bandwidth. */
/*****************************************************************************/

/* This is the home icon in the upper left.  It extends slightly
   outside of the search container, so to avoid increasing the size of
   the container, the home icon is positioned absolutely.

   Instead of a box-shadow, I use a drop-shadow that conforms to the
   circular edges of the image.  Unfortunately, the drop-shadow
   doesn't include a spread paramater, so instead I push the blur down
   a bit.  The drop-shadow is also much less intense (and I can't
   double it up), so I push it down a bit more and blur it a bit
   further to try to make it look reasonably natural together with the
   search-container's box-shadow. */
img.home-icon {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 40px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px white);
    z-index: 20;
}

/* Many mobile browsers by default create a viewport (virtual screen) wide
   enough to hold standard desktop web pagse, then allow the user to zoom
   and scroll within that viewport.  However, a responsive site like this
   one wants to set the virtual screen width to match the actual screen
   width.  The modern way to specify the viewport is in HTML:
   <meta name="viewport" content="...">
   A deprecated way to do the same thing is with @viewport.  But on IE,
   that's @-ms-viewport.  I have no idea what era of browsers it's
   intended to support, but it shouldn't hurt anything. */
@-ms-viewport {
    width: device-width;
}

/*** properties related to encapsulating the search bar and body ***/

/* We want the search bar to be locked to the top of the viewport
   while the main body of text scrolls below it.  Normally the html &
   body elements are sized to fit the contents (potentially larger
   than the viewport), and the browser adds a scrollbar as needed.  We
   override this behavior by locking the html & body elements to 100%
   of the screen height.  Then we use wrap our page contents in class
   body-container: a flex box in which only the div#body element has
   height flexability.  Because it has 'overflow-y: auto', the browser
   will shrink it as necessary so that the search bar and body both
   fit within the viewport. */

/* Fix the height of the browser elements to the viewport height.

   If the browser has a default margin or padding, remove those.
   That's particularly important so that the div#body scrollbar can be
   flush with the right side of the viewport, but it also gives us more
   control over the positioning of our search bar.

   In case there's any jankiness in the browser geometry calculations,
   we use 'overflow: hidden' to be absolutely sure that we don't end up
   with a second scrollbar. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* Here's the body-container flex box.  I'm not sure that the height needs
   to be specified since there's an implied max-height from its parent
   elements, but it's there anyway. */
div.body-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Here's the center body section.  Experiments suggest that at least one
   browser (Chrome) puts the scrollbar between the padding and the margin,
   so we leave the margin at 0 and use padding to leave some room on left
   and right.

   flex-grow and flex-shrink don't seem to be necessary with
   'overflow-y: auto', but I can't find any documentation on the
   subject.  I include them to ensure that this body section will
   always adjust to fill the remaining space.  */
div#body {
    padding-left: 8px;
    padding-right: 8px;
    overflow-y: auto;
    flex-grow: 1;
    flex-shrink: 1;
}

/*** properties related to the page footer ***/

/* The footer has the copyright left justified and the contact link
   right justified.  The remaining CSS properties handle its encapsulation
   within the body container.

   flex-grow and flex-shrink re-iterate the default values to be
   doubly sure that the footer isn't pressured to change its size.

   The padding, background-color, and border help set off the footer from
   the body.

   box-shadow causes the body to subtly fade out as it scrolls under
   the footer.  The z-index is necessary to compose the box-shadow
   above the body. */
div.footer {
    display: flex;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 8px;
    background-color: #EEEEEE;
    border: 1px solid #DDDDDD;
    box-shadow: 0px 0px 3px 3px white;
    z-index: 10;

    /* extend the border/background all the way to the left and right
       edges of the window (negating the usual padding from
       body-container). */
    margin-left: -8px;
    margin-right: -8px;
}

/* The copyright statement includes a link to the BAWG home page.
   We prefer this to be "Bay Area Wildflower Guide", but on mobile
   devices, it may be too wide for everything to fit on a single line.
   Therefore, the HTML actually contains an empty link, and we use
   CSS to fill its contents with either "Bay Area Wildflower Guide" or
   "BAWG", depending on the device width. */
a.home-link::before {
    content: "BAWG";
}
@media (min-width: 500px) {
    a.home-link::before {
	content: "Bay Area Wildflower Guide";
    }
}

/* The copyright text is gray to reduce its visual clutter. */
.foot-fade {
    color: gray;
}

/*** properties related to the glossaries ***/

/* A link to a glossary term doesn't have the default link color and
   underline since that would be very visually distracting, especially
   given how many linked glossary terms there are on many pages.
   Instead, we give linked glossary terms a subtle gray dotted underline.
   (Technially a border-bottom instead of an underline since an underline
   can't be dotted, but a border can be.) */
a.glossary {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px gray dotted;
}

/* A link to Jepson is similar, but uses Jepson's orange for the dotted
   underline color. */
a.glossary-jepson {
    text-decoration: none;
    color: inherit;
    border-bottom: 1px #cc6600 dotted;
}

/* Basic formatting for the dd/dt elements of a glossary definition. */
dt {
    font-weight: bold;
    margin-bottom: 0px;
}
dd {
    margin-bottom: 0.5em;
}

/* When the browser follows a link to a glossary definition's anchor,
   it automatically scrolls it to the very top of the body container.
   I.e. it ends up snuggled directly against the search container, and
   is slightly faded out under the box shadow.

   To fix this, we create a transparent border at the top of the
   element so that the visually useful part of the element is pushed
   down a little.  We then use a negative margin-top to prevent that
   wide border from creating unwanted space between elements.

   Note that this kills the default margin-top, but that's OK in every
   place where we use it.  */
.defn {
    border-top: 6px solid transparent;
    margin-top: -6px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

/* When the browser has followed a link to a definition's anchor,
   highlight the definition in pale yellow.

   Within a glossary, we don't want to highlight just the dt with
   the defined term, but also the dd with the definition.  Therefore,
   the HTML puts the anchor id on a div that surrounds both the dt
   and the dd, and the entire div gets highlighted.

   A definition within a taxon page is simply a paragraph, and it
   is this paragraph that has the anchor id and is highlighted.

   This was div.defn:target, but when I added definitions in text
   paragraphs, I changed it to .defn:target.  Then I added an anchored
   link to my contact info in a heading, so now it's just :target. */
:target {
    background-color: #ffc;
}

/*** properties related to color boxes on the BAWG home page ***/

/* The color-grid is 7x2 if that fits in the width of the screen.
   Otherwise it is 2x7. */
div.color-grid {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 1fr);
    width: fit-content;
    gap: 5px;
}
@media (min-width: 750px) {
    div.color-grid {
	grid-auto-flow: row;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(7, 1fr);
    }
}

/* Each color-picking box has the name of the color in text, surrounded
   by a box with a corresponding border color.  We use the box-color class
   to set the standard box features, and additional classes are used for
   each color. */
div.box-color {
    padding: 5px;
    text-align: center;
}

/* The box for "all flowers" gets a rainbow gradient of all colors.
   Unlike the other boxes, the gradient color is not just on the border,
   but a pale continuation of the gradient also fills the interior of
   the box. This is done by filling the entire background of the box's
   div, then nesting another div inside the box with a semi-transparent
   white background. */
div.border-all-colors {
    background: repeating-linear-gradient(150deg, rgba(192,192,0,0.33), rgba(255,0,0,0.33), rgba(128,0,128,0.33), rgba(0,100,0,0.33), rgba(192,192,0,0.33) 20%);
}
div.bg-white {
    padding: 5px; /* use padding in place of the usual border */
    background: rgba(255,255,255,0.7);
}

/* The remaining color boxes use a simple border color of the appropriate
   color. */
div.white {
    border: 5px solid #F8F8F8;
}
div.yellow {
    border: 5px solid gold;
}
div.orange {
    border: 5px solid orange;
}
div.red {
    border: 5px solid red;
}
div.red {
    border: 5px solid red;
}
div.red-purple {
    border: 5px solid mediumvioletred;
}
div.purple {
    border: 5px solid darkviolet;
}
div.blue {
    border: 5px solid blue;
}
div.cream {
    border: 5px solid oldlace;
}
div.salmon {
    border: 5px solid salmon;
}
div.pink {
    border: 5px solid pink;
}
div.pale-purple {
    border: 5px solid violet;
}
div.pale-blue {
    border: 5px solid lightskyblue;
}
div.other {
    border: 5px solid darkgreen;
}

/*** formatting elements for page txt ***/

/* Every page has a heading at the top with id="title".  The default
   heading top margin makes sense when it follows other text, but we
   customize the top margin of the title heading to look good at the
   top of the page.

   Note that the top heading is usually h1, but is h4 for glossary
   pages that include a ToC prior to the main page heading.  */
#title {
    margin-top: 12px;
}
/* The default margin after the h1 heading is fine if the page title stands
   alone.  But if it's a common name followed by a scientific name and/or
   other information, it's better to group them together without extra space. */
h1.nospace {
    margin-bottom: 0px;
}

/* Method for indenting parts of the glossary ToC.
   These can be nested for deeper indenting. */
div.toc-indent {
    display: block;
    margin-left: 25px;
}

/* This span is aligned to the right of "Member of"/"Key to" such that
   the first line reads straight across, e.g. "Member of Foo Bar", and
   the remaining ancestors are indented to line up under "Foo Bar". */
span.membership {
    display: inline-block;
    vertical-align: top;
}

/* These might be the default margins, but make sure of that before we start
   messing with alternatives. */
p {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* I like to have an unbulleted paragraph introducing a closely related
   bulleted list, so I reduce the spacing between them.  A paragraph
   normally has a larger margin which we can't trivially reduce, so
   instead we give the ul a negative margin.
   The '+' operator here means we're styling a <ul> that follows a <p>. */
p + ul {
    margin-top: calc(-1em + 6px);
}

/* Similarly, use a smaller-than-default margin to whatever else might be
   above the ul (such as an image or div.  This doesn't reduce whatever
   margin that element might have, but at least it won't increase it
   unnecessarily. */
ul {
    margin-top: 6px;
}

/* When bulleted lists are nested, we don't want any extra spacing. */
ul ul {
    margin-top: 0px;
}

/* This is the gray box that is created for txt that includes '[' and ']'
   on lines by themselves.  The box is also used for organizing a page
   that lists its entire descendent hierarchy. */
div.box {
    border: 1px solid #c8c8c8;
    padding: 0px 10px;
    margin: 10px 0px;
}

/* Link colors.

   I use colors to give a hint about what kind of page is being linked to.
   Class names are historical and don't fully reflect the current usage.
     family - dark gold - pages which have children, but no key info
     parent - brown     - key pages (the color of a branch)
     leaf   - green     - childless pages with photos (the color of a leaf)
     unobs  - black     - childless pages without photos

   In general I set the 'visited' color to be the same as the link color to
   avoid the distraction of different colors scattered throughout the BAWG
   depending on what pages have been visited.  I leave the default colors for
   external links only. */
a.family:link, a.family:visited {
    color: #9c8024;
}
a.unobs:link, a.unobs:visited {
    color: black;
}
a.jepson:link, a.jepson:visited {
    color: #cc6600; /* Jepson orange */
}
a.parent:link, a.parent:visited {
    color: SaddleBrown;
}
a.leaf:link, a.leaf:visited {
    color: DarkGreen;
}

/* A link that is known to be broken is styled this way. */
a.missing:link, a.missing:visited {
    color: red;
}

/* A link is put in class "enclosed" when the link is within a structure
   (such as a box) which is already an obvious link, so extra link decoration
   is unnecessary.  This includes:
     - color-picking boxes on the BAWG home page.
     - labeled boxes to external photos (i.e. the replacement for when I don't
       have a photo).
     - links in the auto-completion box for search results.
   */
a.enclosed {
    color: inherit;
    text-decoration: none; /* prevent underline for taxon links */
    border-bottom: none;   /* prevent underline for glossary links */
}

/* Observation details can be toggled by cliking on unobtrusive text
   using this class. */
span.toggle-details {
    color: #888;
    text-decoration: underline;
    cursor: pointer;
}
/* By default, observation details are hidden.  Javascript toggles this
   based on user interaction. */
div#details {
    display: none;
}

/* leaf-thumb is used for each of the thumbnails shown on a leaf node (where
   all of its photos are listed).  Depending on the screen dimensions, these
   are the largest thumbnails on the site or tied for largest.

   leaf-thumb is also used for a figure thumbnail.

   The intention is that most photos are square.  However, to avoid distorting
   any which are not quite square, we set only the height of the photo and
   allow its width to adjust automatically.  On narrow screens, the image
   height is set to 40% of the screen width.  We actually use 40% of the
   minimum screen dimension, so rotating the screen to landscape mode won't
   change the size of the photos.

   The photos have margin-right and margin-bottom to ensure a gap
   between them when multiple photos appear on a line, potentially
   wrapping onto subsequent lines.

   vertical-align causes the photos to be aligned based on their contents,
   not based relative to a text baseline.  I.e. it's silly to leave room
   for text descenders on a line with no text.  The fact that vertical-align
   is specifically "middle" doesn't really do anything for us given that all
   images are forced to the same height, but it could be useful if I ever
   figure out a way to gracefully make wider images shorter. */
img.leaf-thumb {
    height: 40vmin;
    max-height: 200px;
    width: auto;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

/* To avoid copyright issues, I don't create a thumbnail of external photos.
   Instead, I create a labeled box of the same size as a standard thumbnail.
   This box is a div with class leaf-thumb-text.

   The box has a thin black border and inner padding for its text contents.

   In order to have the same dimensions as leaf-thumb, we use the same
   height and max-height.  In addition, since there the contents of the box
   won't naturally make it square, we specify the same values for width and
   max-width.  These dimensions use "box-sizing: border-box" so that the
   outer edge of the border has these dimensions.

   The div is "inline-flex", means that it is layed out as an inline element
   (to match the regular photos that it may be next to), but its contents
   are layed out as in a standard flexbox.  Since it's an inline element,
   leaf-thumb-text needs the same vertical-align property as leaf-thumb
   (at least in some browsers, e.g. Firefox).

   The text contents of the box are centered both vertically and horizontally.

   Ideally we'd use "align-items: safe center" and "overflow: hidden".
   With this property, if the text doesn't fit, then it is instead top aligned
   (so that the most important text is visible), and the extra text that
   doesn't fit in the box is discarded.  However, the "safe" keyword doesn't
   yet do anything in most browsers, and it might fail in some older browsers.
*/
div.leaf-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;

    height: 40vmin;
    max-height: 200px;
    width: 40vmin;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* Non-square thumbnails are allowed to be wider or narrower in a leaf page
   (above).  But on a key, list, or hierarchy page, we'd prefer all images
   to be the same width so that the text stays aligned and so that there
   are no reflow surprises that could mess with the scroll position.

   We put each thumbnail in a square container (below) and constrain the image
   to fit. */
img.boxed {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* key-thumb is a container for the photo thumbnail for a child listing with
   a photo and key.

   On small screens, its height is only half that of leaf-thumb to leave
   room for the child name to the right of the photo.  (On narrow screens,
   the key for the child is placed below the photo and name, as described
   for flex-width below.)  Note that we use "vw" here instead of "vmin".
   If the screen has a layout orientation, it's the width that matters for
   placing the photo next to text.  Hopefully the screen isn't so ridiculously
   wide and short that 20vw consumes too much of the height of the screen.

   On large screens, both the name of the child and its key are placed
   to the right of the photo.  In this case, its height expands to the
   same size of leaf-thumb to provide a firm anchor for all that text.

   Unlike img.leaf-thumb above, the div.key-thumb container has the same
   width and height so that it is exactly square, with the image constrained
   to fit with img.boxed above.  A light gray background is applied so that
   a smaller image doesn't have weird-looking blank space around it.

   Unlike for leaf-thumb above, the key-thumb photo has no peers
   below it within its container.  To get proper centering on its
   line, we give it no margin-bottom and rely on its container to give
   it the necessary bottom margin to later elements. */
div.key-thumb {
    height: 20vw;
    max-height: 200px;
    width: 20vw;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #e8e8e8;
}
/* key-thumb-text is related to key-thumb in the same way that
   leaf-thumb-text is related to leaf-thumb (above). */
div.key-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;

    height: 20vw;
    max-height: 200px;
    width: 20vw;
    max-width: 200px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* list-thumb is applied to the photo thumbnail for a child listing with
   only a photo and name, but no key.  See also the comments for the related
   leaf-thumb and key-thumb above.

   Compared to key-thumb, list-thumb is even smaller.  This allows more
   flowers to be listed on one page.  The max dimensions in particular are
   smaller since there is no key text that the photo needs to anchor.

   Even though the thumbnails are displayed no larger than 100x100, I don't
   bother creating separate smaller thumbnail files.  Experiments show that
   100x100 thumbnails with much reduced quality are only 10% smaller than
   the existing 200x200 thumbnails, so there's no real point. */
div.list-thumb {
    height: 15vw;
    max-height: 100px;
    width: 15vw;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    background-color: #e8e8e8;
}
/* list-thumb-text is related to list-thumb in the same way that
   leaf-thumb-text is related to leaf-thumb (above). */
div.list-thumb-text {
    box-sizing: border-box;
    border: 1px solid black;
    padding: 10px;

    height: 15vw;
    max-height: 100px;
    width: 15vw;
    max-width: 100px;
    margin-right: 10px;
    margin-bottom: 0px;
    vertical-align: middle;

    display: inline-flex;
    align-items: center;
    justify-content: center;
}

/* photo-box is used for a child link (photo + text on the same line, with
   or without key info).  If there is key info, the div.photo-box is also
   contained within a div.flex-width.  See the comments for flex-width for
   details.

   display:flex provides a simple way to have items on the same line,
   vertically centered with respect to each other.

   flex-wrap should have no effect since the child photo shrinks to always
   leave space next to it.  Previously it was useful for consecutive images
   on the same line to wrap the images that didn't fit.

   align-items vertically aligns the children of the flex box.

   No margins are specified.  We rely on the margins of the flex box's
   children and/or of the preceding/following element.  In particular, we
   don't want to specify a margin that ends up getting added to a child's
   margin.
*/
div.photo-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}

/* list-box is used for hierarchical descendent listings, such as in
   'flowering plants'.  It has margins because its children don't. */
div.list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* A standard child listing contains a photo, the child name, and the
   child key.  On a narrow screen, we want the child name next to the photo
   and the key underneath both.  On a wide screen, we want the key under
   the child name, and both of those next to the photo.

   I can't come up with an HTML structure that would allow the key to
   move around like that.  I could create two copies of the key and have
   only one of them displayed at a time (depending on the screen width),
   but they key can be quite long.  So I take the slightly more efficient
   route and duplicate the child name and have only one name displayed at
   a time (depending on the screen width).

   For a narrow screen (the default), the outer flex-width container is
   just a regular default div that puts the contained div.photo-box on a
   separate line from the div.key-text.  The name is put in the photo-box
   container with class show-narrow, which is visible in this case.  The
   name is also put in div.key-text with the key, but its show-wide class
   is hidden.

   For a wide screen (e.g. a desktop), the outer flex-width container is
   changed to a flex box so that its two divisions are placed side by side.
   The show-narrow name in the photo-box container is hidden in this case,
   so the left element is just the photo.  The show-wide name is shown, so
   it appears above the key in the div.key-text element on the right.

   For either arrangement of the div.flex-width, its descendents explicitly
   don't have a bottom margin so that they can be correctly placed within
   their containers.  Therefore, the div.flex-width must have a bottom
   margin. */
div.flex-width {
    margin-bottom: 10px;
}
span.show-narrow {
}
span.show-wide {
    display: none;
}
@media (min-width: 750px) {
    div.flex-width {
	display: flex;
	align-items: center;
    }
    span.show-narrow {
	display: none;
    }
    span.show-wide {
	display: inline;
    }
}

/* We remove unwanted bottom margins from elements within the div.flex-width
   so that they get centered properly.  This includes:
     - the div.photo-box (which is above the key if there is one, but is
         the tallest element in the div.flex-width if there is no key).
     - the last <p> or <ul> in div.key-text.

   Note that the child's name is only in a <span>, not in a <p> tag, so it
   doesn't have a bottom margin to worry about. */
div.flex-width div.photo-box {
    margin-bottom: 0px;
}
div.key-text :last-child {
    margin-bottom: 0px;
}

/* The "indent" class is used with various flex containers such as box,
   list-box, and photo-box.  Its purpose is to indent one level in a
   hierarchical listing page such as 'flowering plants'.  Indenting
   multiple levels requires nesting multiple "box" divs. */
div.indent {
    margin-left: 5vw;
}
/* There's no "max-margin-left" property that would let us limit the indent.
   But we can get what we want by checking whether 5vw is effectively greater
   than 50px. */
@media (min-width: 1000px) {
    div.indent {
	margin-left: 50px;
    }
}

/*** properties related to the search box and autocomplete box ***/

/* The search container holds the search field and autocompletion box.
   The search field is placed normally and pushes down the following body
   content.  However, the autocompletion box floats above the body content
   which scrolls underneath it.

   flex-grow and flex-shrink re-iterate the default values to be
   doubly sure that the search container isn't pressured to change its
   size.

   box-shadow causes the body to subtly fade out as it scrolls under
   the search container.  The z-index is necessary to compose the box-shadow
   above the body. */
div#search-container {
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: 0px 0px 3px 3px white;
    z-index: 10;
}

/* The input field is heavily styled.
     - It has a larger font.
     - It has a gray border with rounded corners.
     - It has padding on the left side of the text area to accomodate
       an SVG of a magnifying glass (to represent "search").
*/
input {
    box-sizing: border-box;
    margin-left: 40px; /* leave room for the icon that links to the home page */
    width: calc(100% - 40px);
    font-size: 1.5em;
    border-radius: 0.4em;
    border: 1px solid #DDDDDD;
    padding-left: 1.5em;
    background-position: .2em 50%;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='1.5em' height='1.5em' viewBox='0 0 100 100'><g><circle cx='37' cy='37' r='20' stroke='%23888' stroke-width='7' fill='none'/><path d='M52,52L83,83' stroke='%23888' stroke-width='7' stroke-linecap='round' fill='none'/></g></svg>");
    background-repeat: no-repeat;
}
input::placeholder {
    color: #c0c0c0;
}
/* When the input field has focus, the border is blue and has a glow effect.
   Some browsers (e.g. Chrome) add an outline by default.  Since the outline
   is square cornered and otherwise generally clashes with our border effect,
   we disable that default outline. */
input#search:focus {
    border: 1px solid rgb(81, 203, 238);
    box-shadow: 0px 0px 5px 0px rgb(81, 203, 238);
    outline: auto 0px;
}

/* When Javascript is disabled, a <noscript> tag creates a second, disabled
   input field on top of the first to prevent interaction. */
input:disabled {
    position: absolute;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    background-color: #eeeeee;
    color: #cccccc;
    text-align: center;
    z-index: 20;
}

/* The autocompletion box is hidden by default.  JavaScript toggles it to
   display when there are autocompletion results.  It has a solid background
   to cover the normal page text underneath, and a thin gray border.

   The autocompletion box has 'position: fixed', which puts it where
   it normally would placed if 'static', but removes it from the
   normal HTML flow.  Thus, it ends up floating on top of the center
   body section, which scrolls under to the side of the floating box.

   The background-color is needed to prevent bleed-through of the body
   contents underneath.

   I tried giving the autocompletion box a box shadow to separate it
   from the contents of the page underneath, but it ends up looking
   weird, especially if a photo is only covered by a corner of the
   box.  If I try a box shadow again, it might need a 'z-index'
   property to get it to draw properly. */
div#autocomplete-box {
    display: none;
    position: fixed;
    border: 1px solid #DDDDDD;
    background-color: white;
}
/* On mobile devices, it's hard to fit the text of long flower names
   (especially ones with a variety/subspecies).  So by default, we
   allow the autocompletion box to fill the width of the screen, and
   we use the default font size even though it's hard to tap when it's
   that small.

   But on desktop, we indent the autocompletion box so that its left
   edge matches the left edge of the search text (to the right of the
   magnifying glass), and we increase the font size since it's
   important.  (The font change applies to text inside the box.) */
@media (min-width: 600px) {
    div#autocomplete-box {
	margin-left: 1.7em;
	font-size: 1.25em;
    }
}
/* Each autocompletion result is wrapped in <p class="nogap">.
   Be default, it has 3 pixels of padding on the left. But if any line wraps at
   the edge of the screen, it gets an additional 17 pixels of padding/indent.
   Since text-indent applies only to the first line of a paragraph, we reverse
   things so that the default padding is large, but the first line gets a
   negative indent. */
p.nogap {
    padding-left: 20px;
    text-indent: -17px;
    padding-right: 3px;
    margin: 0px;
}
/* <span class="match"> is used to highlight the matched search text
   within each autocomplete entry. */
span.match {
    background-color: #eee;
}

/* See also the <a> link tags for links in the autocompletion box. */

/*** properties related to interfacing with the service worker ***/

/* The 'update' button can be in one of three states:
   - update-update: click will update the cache
   - update-disable: click is expected to do nothing
   - update-stop: click will stop the cache update currently in progress
   Note that the button is expected to have no HTML text in it.  Instead,
   the pseudo 'before' element adds the proper text content for its state. */
#update {
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin-right: 10px;
    /* equal top and bottom margins for proper vertical centering */
    margin-top: 8px;
    margin-bottom: 8px;
}
#update.update-update {
    background-color: #139e38;
    color: white;
    cursor: pointer;
}
#update.update-update:active {
    background-color: #0f752a;
}
#update.update-disable {
    background-color: #808080;
    color: #000000;
    cursor: not-allowed;
}
#update.update-stop {
    background-color: #b5952a;
    color: white;
    cursor: pointer;
}
#update.update-stop:active {
    background-color: #9c8024;
}
#progress {
    display: inline-block;
    vertical-align: middle;
}
#status {
    display: block;
}
#err-status {
    display: block;
    color: red;
}
#clear {
    display: block;
    vertical-align: middle;
    width: 150px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-right: 10px;
    /* equal top and bottom margins for proper vertical centering */
    margin-top: 8px;
    margin-bottom: 8px;
}
@media (min-width: 500px) {
    #clear {
	display: inline-block;
    }
}
#clear:active {
    background-color: #d10000;
}
#clear.clear-disable {
    background-color: #808080;
    color: #000000;
    cursor: not-allowed;
}
#usage {
    display: inline-block;
    vertical-align: middle;
}

/* important messages on the home page */
div#cache-green {
    display: none;
    background-color: #a3ffab;
    padding: 5px;
    border-radius: 15px;
}
img.green-img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
span.cache-text {
    /* Subtract img width and margin from the text's available width. */
    width: calc(100% - 48px);
    display: inline-block;
    vertical-align: middle;
}
div#cache-yellow {
    display: none;
    background-color: #faffa3;
    padding: 5px;
    border-radius: 15px;
}
img.hazard-img {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    /* less margin-right because the slope of the triangle already
       creates some margin. */
    margin-right: 3px;
}
div#icon {
    display: none;
    float: right;
    cursor: pointer;
}
div#icon.icon-yellow {
    display: block;
    background-color: #faffa3;
    padding: 5px;
}

/* When navigating from the hazard icon to the offline section, don't
   do the default behavior of highlighting the target anchor. */
#offline:target {
    background-color: inherit;
}
